#almostthere-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 49px;
    width: 1000px;
    height: 569px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 248, 244, 1);
    padding: 20px;
    z-index: 10000;
}

#back-almostthere {
    position: absolute;
    display: flex;
    width: 90%;
    top: 49px;
    left: 64px;
}

#back-almostthere img {
    cursor: pointer;
}

#almostthere-title {
    font-family: Albert Sans;
    font-size: 52.92px;
    font-weight: 400;
    line-height: 63.51px;
}

#almosttheretext {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1px;
    color: rgba(83, 82, 79, 1);
}

#almosttheretext p {
    margin: 0;
}

#almostthere-des span:nth-child(1) {
    font-family: 'Poppins', sans-serif;
    font-size: 19.85px;
    font-weight: 400;
    line-height: 29.77px;
}

#almostthere-des span:nth-child(2) {
    font-family: 'Poppins', sans-serif;
    font-size: 19.85px;
    font-weight: 700;
    line-height: 29.77px;
}

#progress {
    display: flex;
    justify-content: center;
    gap: 76px;
    align-items: center;
    position: relative;
}

#progresshr {
    border: 4px solid rgba(233, 176, 52, 1);
    width: 521px;
    border-radius: 4px;
    position: absolute;
    top: 22%;
    z-index: -1;
}

#progress .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background-color: rgba(233, 176, 52, 1);
}

#progress div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;
}

#progress div p {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 22.5px;
    color: rgba(83, 82, 79, 1);
}

#almostthere-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 37px;
}

#almostthere-btn button {
    font-family: 'Poppins', sans-serif;
    width: 120px;
    height: 36px;
    gap: 10px;
    border: 0;
    border-radius: 16.74px;
    padding: 6.7px 17.86px 6.7px 17.86px;
    color: rgba(241, 255, 251, 1);
    font-family: Poppins;
    font-size: 12.6px;
    font-weight: 400;
    line-height: 21.77px;
    background-color: rgba(233, 176, 52, 1);
}

#almostthereVECTORRIGHT {
    position: absolute;
    top: 23px;
    right: 0;
}

#almostthereVECTORLEFT {
    position: absolute;
    bottom: 63px;
    left: 0;
}