@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;400;500;600;700&display=swap');


*{
margin: 0;
padding: 0;



/* my cart */

position: relative;



}



.yourcart{
    width: 300px;
    
position: relative;

left: 85px;
top: 199px;

font-family: 'Albert Sans';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;

color: #53524F;

}

.product{
    /* Product */



top:0px ;
left: 10px;


font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;


color: #53524F;



}

.quantity{
    top:0px ;
left: 460px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;


color: #53524F;

}

.price{
top:0px ;
left: 520px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;


color: #53524F;
}

.cartheader{
    padding: 20px;
    position: absolute;
    top: 272px;
    left:65px;
    width: 900px;
    border-bottom:1px solid rgba(83, 82, 79, 1) ;
}

#r418{
    
    /* Rectangle 418 */

position: absolute;
width: 102px;
height: 113px;
left: 20px;
top: 0px;

background: #7BB7C9;
border-radius: 13px;

   
}

#halloumi{
   /* 25 Tortilla Wrap Recipes That Are Perfect For Lunch 1 */

position: absolute;
width: 127px;
height: 134px;
left: 20px;
top: -5px;

background: url('my\ cart\ ph/ Tortilla Wrap Recipes That Are Perfect For Lunch.png');

   

}

.halloumititle{
    /* Halloumi Sandwich */

position: absolute;
width: 192px;
height: 30px;
left: 130px;
top: 5px;

font-family: Poppins;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* identical to box height */
text-align: center;

color: #53524F;


}

#halloumidesc{
    /* Grilled halloumi cheese, tomato, cucumber, mint, olive tapenade spread ,in authentic tannour bread . */


width: 322px;
height: 63px;
left: 150px;
top: 40px;

font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;

color: #53524F;


}

.halloumiquantity{
  /* Rectangle 450 */

position: absolute;
width: 101.03px;
height: 36px;
left: 580px;
top: -20px;

background: #E9B034;
border-radius: 19px;
text-align: center;
justify-content: center;







}

.quantitybtn{
    
   padding: 10px;
    background-color: #E9B034;
    border: 0px;
    color: #FFFFFF;

    
    
}

.quantitybtn:hover{
    cursor: pointer;
}


#quantity0{
    background-color: #E9B034;
   /* 2 */



font-family: 'Hannari';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 106.17%;
padding-left: 1px;
padding-right: 1px;
/* or 21px */


color: #FFFFFF;



}

.halloumiprice{
    /* $10.00 */


width: 73px;
height: 25px;
left: 740px;
top: -15px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 106.17%;
/* or 25px */
text-align: center;

color: #53524F;


}

#deletehallomi{
    /* Delete - Iconly Pro */


width: 24px;
height: 24px;
left: 870px;
top: -40px;}

.halloumi{
    /* Vector 216 */

padding-bottom: 20px;
width: 940px;
border-bottom: 1px solid #53524F;
left: 70px;
}

.berlin{
    padding-bottom: 20px;
    height: 130px;
width: 940px;
border-bottom: 1px solid #53524F;
left: 70px;
}

#r458{
   

position: absolute;
width: 102px;
height: 113px;
left: 20px;
top: 20px;

background: #7BB7C9;
border-radius: 13px;

}
#berlin{
  /* two-delicious-sandwiches 2 */

position: absolute;
width: 128px;
height: 110px;
left: 10px;
top: 40px;

background: url('my\ cart\ ph/two-delicious-sandwiches.png');

 
 }
 .berlintitle{
  /* Berlin Breakfast */


width: 154px;
height: 30px;
left: 135px;
top: 30px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* identical to box height */
text-align: center;

color: #53524F;




}
#berlindesc{
 /* Smoked turkey, Emmental cheese, cream cheese, cherry tomato, brown toast, mint, butter. */

position: absolute;
width: 269px;
height: 63px;
left: 150px;
top: 65px;

font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;

color: #53524F;


}

.berlinquantity{
    /* Rectangle 450 */
  
  position: absolute;
  width: 101.03px;
  height: 36px;
  left: 580px;
  top: 25px;
  
  background: #E9B034;
  border-radius: 19px;
  text-align: center;
  justify-content: center;
  
  
  
  
  
  
  
  }
.quantitybtn1{
    
    padding: 10px;
     background-color: #E9B034;
     border: 0px;
     color: #FFFFFF;
 
     
     
 }
 
 .quantitybtn1:hover{
     cursor: pointer;
 }
 
 
 #quantity01{
     background-color: #E9B034;
    /* 2 */
 
 
 
 font-family: 'Hannari';
 font-style: normal;
 font-weight: 400;
 font-size: 20px;
 line-height: 106.17%;
 padding-left: 1px;
 padding-right: 1px;
 /* or 21px */
 
 
 color: #FFFFFF;
 
 
 
 }
 
 .berlinprice{
     /* $10.00 */
 
 
 width: 73px;
 height: 25px;
 left: 740px;
 top: 30px;
 
 font-family: 'Poppins';
 font-style: normal;
 font-weight: 400;
 font-size: 24px;
 line-height: 106.17%;
 /* or 25px */
 text-align: center;
 
 color: #53524F;
 
 
 }
 
 #deleteberlin{
    /* Delete - Iconly Pro */


width: 24px;
height: 24px;
left: 870px;
top: 7px;}


.beirut{
    padding-bottom: 20px;
width: 940px;

left: 70px;
height: 130px;

}

#r459{
   

    position: absolute;
    width: 102px;
    height: 113px;
    left: 20px;
    top:20px;
    
    background: #7BB7C9;
    border-radius: 13px;
    
    }
    #beirut{
     /* _ - 2024-11-14T163808 1 */

position: absolute;
width: 143px;
height: 110px;
left: 2px;
top: 20px;

background: url('my\ cart\ ph/ _ - 2024-11-14T163808.png');

     
     }
     .beiruttitle{
      /* Beirut Breakfast */

position: absolute;
width: 157px;
height: 30px;
left: 135px;
top: 20px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* identical to box height */
text-align: center;

color: #53524F;


    
    
    
    
    }
    #beirutdesc{
   /* Assorted mini cheese kechek and zaatar manouche, labneh, tomato, cucumber, tannour bread, mint & black olives. */

position: absolute;
width: 305px;
height: 63px;
left: 150px;
top: 55px;

font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;

color: #53524F;


    
    
    }
    
    .beirutquantity{
        /* Rectangle 450 */
      
      position: absolute;
      width: 101.03px;
      height: 36px;
      left: 580px;
      top: 55px;
      
      background: #E9B034;
      border-radius: 19px;
      text-align: center;
      justify-content: center;
      
      
      
      
      
      
      
      }
    .quantitybtn2{
        
        padding: 10px;
         background-color: #E9B034;
         border: 0px;
         color: #FFFFFF;
     
         
         
     }
     
     .quantitybtn2:hover{
         cursor: pointer;
     }
     
     
     #quantity02{
         background-color: #E9B034;
        /* 2 */
     
     
     
     font-family: 'Hannari';
     font-style: normal;
     font-weight: 400;
     font-size: 20px;
     line-height: 106.17%;
     padding-left: 1px;
     padding-right: 1px;
     /* or 21px */
     
     
     color: #FFFFFF;
     
     
     
     }
     
     .beirutprice{
        /* $32.00 */

position: absolute;
width: 79px;
height: 25px;
left: 740px;
top: 60px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 106.17%;
/* or 25px */
text-align: center;

color: #53524F;


     
     
     }
     
     #deletebeirut{
        /* Delete - Iconly Pro */
    
    
    width: 24px;
    height: 24px;
    left: 870px;
    top: 70px;}
    
    .itemdetails{
        padding-top: 20px;
        position: relative;
        top: 310px;
        border-right: 1px black solid;
       width: 1040px;
       
      


    }
    .carttotal{
        /* Cart Total */

left: 1070px;
top: -100px;
width: 300px;


    }

    .totaltitle{/* Cart Total */

      
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 48px;
        width: 378px;
        padding-bottom: 7px;
       
        
        color: #53524F;
       
        border-bottom: 1px solid rgba(83, 82, 79, 1);
        
        
    }




    #delievry{
        
       
        padding-top: 15px;
        padding-bottom: 15px;
        width: 380px;
      
        border-bottom: 2px solid rgba(83, 82, 79, 1);
        
    }

    #delievrytitle{
        /* Delivery */



font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 30px;
/* identical to box height */
padding-right: 200px;

color: #53524F;


    }

    #delievryamount{
        /* $5.00 */



font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 106.17%;
/* or 25px */
text-align: center;

color: #53524F;


    }
#totaltitle{
    /* Subtotal */



font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 30px;
/* identical to box height */


color: #53524F;
padding-right: 195px;


}

#totalamount{
    /* $67.00 */



font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 106.17%;
/* or 25px */
text-align: center;

color: #53524F;


}

#ftotal{
   padding-top: 20px;
   width: 450px;
}

#subtotaltitle{

  
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    text-align: center;
    
    color: #53524F;
    padding-right: 195px;
  

}


#subtotalamount{
 /* $72.00 */



font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 106.17%;
/* or 25px */
text-align: center;

color: #53524F;


}

#checkoutbtn{
    border: none;
    outline: none;
    box-shadow: none;
margin-top: 60px;
margin-left: 37px;
background: #80B6CC;
border-radius: 15px;
width: 320px;
height: 36px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
border-color:#80B6CC ;
color: #F1FFFB;

}
#checkoutbtn:hover{
    cursor: pointer;
}

#cartsec{
    margin: 0px;
    width:1520px;
    padding-bottom: 80px;
   
 background: rgba(255, 248, 244, 1);
 }
 



@media (max-width: 768px){

 
    .quantity{
    left: 340px;
    }
    .price{
    left: 380px;

    }
    .halloumititle{

width: 150px;



font-size: 15px;

    }
    #halloumidesc{
        width: 200px;
        top: 35px;
        font-size: 12px;
    }
    .halloumi{
        /* Vector 216 */
    
  
    width: 760px;
    }
    .halloumiquantity{
        /* Rectangle 450 */
      
    
      left: 450px;
      top: -20px;
      

      
      }
      .halloumiprice{
        /* $10.00 */
    
    
    
    left: 600px;
    top: -10px;
  
   

    
    
    }
    #deletehallomi{
        /* Delete - Iconly Pro */
    left: 740px;
    top: -35px;}

    .berlintitle{
        left: 125px;
        width: 130px;
        font-size: 15px;
    }
    #berlindesc{
        width: 200px;
        top: 60px;
        font-size: 12px;

    }
    .berlin{
        padding-bottom: 30px;
        width: 760px;
    }
    .berlinquantity{
        
       
       
        left: 450px;
        top: 30px;

        

    }
    .berlinprice{
        left: 600px;
        top: 40px;

    }

    #deleteberlin{
        left: 740px;
        top: 15px;

    }

    .beiruttitle{
        left: 125px;
        width: 130px;
        font-size: 15px;
    }
    #beirutdesc{
        width: 200px;
        top: 50px;
        font-size: 12px;

    }
    .beirutquantity{
        left: 450px;
        top: 50px;

    }
    .beirut{
        padding-bottom: 30px;
        width: 760px;
    }

    .beirutprice{
        left: 600px;
        top: 60px;
    }
    #deletebeirut{
        left: 740px;
        top: 70px;
    }

    .cartheader{

        width:745px;

    }
    .carttotal{
       

left: 380px;
top: 350px;
padding-bottom: 50px;

    }
    .itemdetails{
       
        border-right: 0px;
       width: 768px;
       
      


    }   
    
}

@media (max-width: 431px){
    
    .quantity{
        left: 280px;
        }
        .price{
        left: 320px;
    
        }
        .halloumititle{
    
    width: 150px;
    
    
    
    font-size: 15px;
    
        }
        #halloumidesc{
            width: 150px;
            top: 35px;
            font-size: 12px;
        }
       
        .halloumiquantity{
            /* Rectangle 450 */
          
        
          left: 400px;
          top: -20px;
          
    
          
          }
          .halloumiprice{
            /* $10.00 */
        
        
        
        left: 540px;
        top: -15px;
      
       
    
        
        
        }
        #deletehallomi{
            /* Delete - Iconly Pro */
        left: 650px;
        top: -35px;}
    
        .berlintitle{
            left: 125px;
            width: 130px;
            font-size: 15px;
        }
        #berlindesc{
            width: 150px;
            top: 60px;
            font-size: 12px;
    
        }
        .berlin{
            padding-bottom: 30px;
           
        }
        .berlinquantity{
            
           
           
            left: 400px;
            top: 30px;
    
            
    
        }
        .berlinprice{
            left: 550px;
            top: 35px;
    
        }
    
        #deleteberlin{
            left: 650px;
            top: 15px;
    
        }
    
        .beiruttitle{
            left: 125px;
            width: 130px;
            font-size: 15px;
        }
        #beirutdesc{
            width: 150px;
            top: 50px;
            font-size: 12px;
    
        }
        .beirutquantity{
            left: 400px;
            top: 50px;
    
        }
        .beirut{
            padding-bottom: 30px;
            width: 760px;
        }
    
        .beirutprice{
            left: 550px;
            top: 60px;
        }
        #deletebeirut{
            left: 650px;
            top: 70px;
        }
    
        .cartheader{
    
            width:745px;
    
        }
        .carttotal{
           
    
    left: 350px;
    top: 350px;
    padding-bottom: 50px;
    
        }
        .itemdetails{
           
            border-right: 0px;
           width: 768px;
           
          
    
    
        }    
}

