footer {
    background: #7BB7C9;
    margin-top: 66px;
    padding-top: 30px;
    font-family: 'Poppins', sans-serif;
}

#ipadfooter{
    display: none;
}

#mobilefooter{
    display: none;
}

#footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 197px;
    gap: 60px;
    background-color: #7BB7C9;
}

#logoSocialMedia {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

#socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 38px;
}

#divider {
    background-color: white;
    height: 171.5px;
    width: 3px;
}

#navbar {
    display: flex;
    gap: 70px;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 17px;
    list-style-type: none;
    padding: 0;
    white-space: nowrap;
}

#navbar ul li a {
    text-decoration: none;
    color: white;
    margin: 0;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 29.86px;
}

.footer-nav p {
    color: white;
    margin: 0;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 29.86px;
}

.footer-nav p:nth-child(2) {
    font-size: 16px;
    font-weight: 300;
}

#updates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#updates-title {
    font-size: 32px;
    color: white;
    margin: 0;
}

#updates-description {
    width: 262px;
    color: white;
    margin: 0;
    margin-bottom: 10px;
    font-size: 15px;
    text-align: center;
}

#email-input {
    color: #3987A6;
    font-size: 16px;
    border-radius: 15px;
    padding: 9px;
    width: 302px;
}

#footer-rights {
    margin-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    justify-self: center;
    color: white;
font-size: 14px;
font-weight: 400;
line-height: 21px;
}

