#fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(255, 248, 244, 1);
}

#header {
    display: flex;
    justify-self: center;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
    font-family: 'Poppins', sans-serif;
    width: 92%;
}

#logo {
    margin-right: -40px;
}

#header ul {
    list-style-type: none;
    padding: 0;
}

#list-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 870px;
}

#header #list-icons {
    display: flex;
    width: 120px;
    justify-content: space-between;
}

#list-links li a {
    text-decoration: none;
    color: #53524f;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;

}

#list-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

#header-hr {
    border: 1.48px solid rgba(123, 183, 202, 1);
    width: 100%;
    margin-top: 14px;
}

#hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    margin-right: 10px;
    color: rgba(233, 176, 52, 1);
}

#hamburger span {
    width: 25px;
    height: 3px;
    background-color: rgba(233, 176, 52, 1);
}

@media (max-width: 768px) {

    #header {
        display: flex;
        justify-self: center;
        justify-content: space-between;
        align-items: center;
        margin-top: 22px;
        font-family: 'Poppins', sans-serif;
        width: 100%;
    }

    #header #list-icons {
        display: flex;
        width: 78px;
        justify-content: center;
        gap: 6px;
        margin-right: 153px;
    }

    #list-links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        width: 56%;
    }

    #list-links li a {
        text-decoration: none;
        color: #53524f;
        padding: 0;
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
    }

    img {
        width: 20px;
        margin-top: 3px;
    }

    #logo {
        width: 175px;
    }

    #header-hr {
        border: 1.48px solid rgba(123, 183, 202, 1);
        width: 81%;
        margin-left: 20px;
        margin-top: -4px;
    }
}

@media (max-width: 431px) {

    #fixed-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 67%;
        z-index: 1000;
        background-color: rgba(255, 248, 244, 1);
    }
    #header {
        display: flex;
        justify-self: center;
        justify-content: space-between;
        align-items: center;
        margin-top: 22px;
        font-family: 'Poppins', sans-serif;
        width: 88%;
    }

    #logo {
        width: 163px;
        margin-bottom: 5px;
    }

    #hamburger {
        display: flex;
        flex-direction: column;
        gap: 4px;
        margin-right: 0px;
        cursor: pointer;
        color: rgba(233, 176, 52, 1);
        width: 20px;
        margin-bottom: 2.7px;
    }

    #hamburger span {
        width: 18px;
        height: 2px;
        background-color: rgba(233, 176, 52, 1);
    }

    #list-links {
        display: none;
        flex-direction: column;
        background-color: #fff;
        position: absolute;
        top: 60px;
        right: 10px;
        padding: 10px;
        border: 1px solid rgba(233, 176, 52, 1);
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        width: 40%;
    }

    #list-links.open {
        display: flex;
        margin-top: 9px;
        margin-right: 173px;
        width: 156px;
    }

    #header #list-icons {
        display: flex;
        width: 80px;
        justify-content: space-evenly;
    }

    #header #list-icons {
        display: flex;
        width: 80px;
        justify-content: center;
        align-items: center;
        gap: 6px;
    }

    img {
        width: 15px;
        margin-top: 3px;
    }

    #header-hr {
        border: 1.48px solid rgba(123, 183, 202, 1);
        width: 62%;
        margin-left: 46px;
        margin-top: -10px;
    }
}