@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    margin-top: 0px;
    margin-left: 0px;
}


.cover-menu{
    height: 424px;
    
}

#menu-label-div-1{
width: 721px;
height: 153px;
margin-top: 229px;
}

.cover-menu-h1{
font-family: 'Albert Sans';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 100%;
/* or 64px */

color: #887c58;


}
#menu-h1-first-line{
    height: 54px;
    margin-left: 115px;
    
}
#menu-h1-sec-line{
    margin-top: -30px;
    margin-left: 115px;
}
#menu-label-div-2{
    display: flex;
}
#cover-menu-h1-bold{
margin-top: -30px;
margin-left: 15px;
font-weight: 700;
}
#vector-break{

margin-left: 118px;
margin-top: 0px;

width: 136px;
height: 0px;


border: 3px solid #E9B034;

}
#cover-menu-p{

width: 546px;
height: 58px;
margin-left: 115px;
margin-top: 25.5px;

font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 19px;
line-height: 28px;

color: #53524F;

}
#cover-menu-food-img{

position: absolute;
width: 498px;
height: 456px;
left: 861px;
top: 137px;

}
#cover-menu-back-img{

position: absolute;
right: 0px;
top: 345px;
bottom: 80.31%;

}
#cover-menu-style{

position: absolute;
left: 0;
top: 471px;
}





.sec2-menu{
    height: 746px;
    position: relative;
    
}
.Rectangle-background-1{
    position: absolute;
    left: 0px;
    top: 267px;
    
}
.Rectangle-background-2{
    position: absolute;
    right: 0px;
    top: 528px;
    
}

#Specialties-style-title{
    position: absolute;
    top: 62px;
    left: 519px;
    width: 475px;
    height: 57px;
}
#style-Specialties-label{
    font-weight: 700;
}

.Specialities-card{

width: 313px;
height: 392px;

background: #E9B034;
border-radius: 36px;

}
#Specialities-card-left{
position:absolute;
 left: 252px;    
 top: 201px;   
}

.Specialities-title{
position: absolute;
width: auto;
height: 36px;

margin-top: 30px;
margin-left: 61px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
/* identical to box height */

color: #FFFFFF;


}
#mojito-img{
    margin-left: 83px;
    margin-top: 66px;
    width: 144px;
    height: 235px;
    
}
.Specialities-price{

width: 88px;
height: 21px;


margin-left: 111px;
margin-top: 300px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 106.17%;
/* or 21px */
text-align: center;

color: #FFFFFF;

}

.Specialities-description{
    
position: absolute;

margin-left: 52px;
width: 218px;
height: 26px;


font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 11px;
line-height: 13px;
/* or 118% */
text-align: center;

color: #FFFFFF;

}
.Specialities-counter{
margin-top: 50px;
margin-left: 117px;

display: flex;

width: 87px;
height: 31px;

background: #7BB7C9;
border-radius: 16px;

}
.Specialities-plus{

width: 10px;
height: 16.47px;   

margin-left: 14px;
margin-top: 6px;

background: #7BB7C9;
border-radius: 0px;
 

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 106.17%;
/* identical to box height, or 17px */
text-align: center;

color: #F1FFFB;



}
.Specialities-number{
    margin-left: 12px;
    margin-top: 6.5px;
width: 10px;
height: 16.47px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 106.17%;
/* identical to box height, or 17px */
text-align: center;

color: #FFFFFF;


}
.Specialities-mins{
    width: 10px;
height: 16.47px;   

margin-left: 15px;
margin-top: 6px;

background: #7BB7C9;
border-radius: 0px;
 

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 106.17%;
/* identical to box height, or 17px */
text-align: center;

color: #F1FFFB;

}

.Add-cart-btn-div{


box-sizing: border-box;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 6px 16px;
gap: 10px;

width: 116px;
height: 31px;

border: 1px solid #7BB7C9;
border-radius: 15px;

flex: none;
order: 0;
flex-grow: 0;


}
#Add-cart-btn-left{
       margin-left: 105px;
    margin-top: 10px; 
}
#Add-cart-btn-center{
    margin-left: 105px;
    margin-top: 10px;  
}
#Add-cart-btn-right{
    margin-left: 105px;
    margin-top: 10px;   
}

.Add-cart-btn{


width: 78px;
height: 20px;



margin-left: auto;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;
/* identical to box height */

color: #7BB7C9;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


}

.card-list{
    display: flex;
}

#Specialities-card-center{
position: absolute;

width: 313px;
height: 392px;

left: 600px;    
top:201px;   

background: #E9B034;
border-radius: 36px;


}
#Specialities-img-center{

width: 240px;
height: 214px;

    margin-top: 87px;
    margin-left: 37px;
}

#Specialities-card-right{
    position: absolute;

width: 313px;
height: 392px;

left: 948px;    
top:201px;   

background: #E9B034;
border-radius: 36px;

}
#Specialities-img-right{
    margin-left: 61px;
    margin-top: 79px;
    width: 202px;
    height: 222px;
}










.Full-menu{
height: 721px;
position: relative;
}

#Menu-style-title{
    position: absolute;
    top: 0px;
    margin-top: 0px;
    left: 616px;
    width: 338px;
    height: 94px;

}
#style-Menu-label{
    font-weight: 700;
}

.btn-sec{


box-sizing: border-box;

position: absolute;
width: 172px;
height: 47px;

top: 100px;

border: 1px solid #7BB7CA;
border-radius: 17px;

}
#btn-sec-1st{
    left: 391px;
}
#btn-sec-2nd{
    left: 569px ;
}
#btn-sec-3rd{
    left: 747px;
}
#btn-sec-4th{
    left: 925px;
}

.sec-icon-1st{
    position: absolute;
    left: 21px;
    top: 13px;

    width: 25px;
    height: 18px;
}


.sec-icon-2nd{
    position: absolute;
    left: 15px;
    top: 10px;
    width: 30px;
    height: 24px;
}
.sec-icon-3rd{
    position: absolute;
    top: 7px;
    left: 20px;
    width: 25px;
    height: 28px;
}
.sec-icon-4th{
    position: absolute;
    top: 8px;
    left: 11px;
    width: 25px;
    height: 28px;
}
.sec-name{
    position: absolute;
    left: 54px;
    top: 8px;

    margin-top: 0px;
    margin-left: -6px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* identical to box height */
color: #7BB7C9;

}

.drop-btn{
    position: absolute;
    left: 142px;
    top: 20px;
}
.Breakfast-sec{
    height: 542px;
    position: absolute;
    top: 179px;
}

.menu-sec-title{

position: absolute;
width: 197px;
height: 38px;
margin-left: 0px;
margin-top: 0px;
left: 55px;
top: 0px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 34px;
line-height: 51px;
text-align: center;

color: #53524F;

 
}

.menu-food-card{
width: 706px;

}
#menu-food-card-1st{
    position: absolute;
left: 67px ;
top: 29px;
}
#menu-food-card-2nd{
    position: absolute;
    top:29px;
    left: 763px;
}
#menu-food-card-3rd{
    position: absolute;
    top: 214px;
    left: 67px;
}
#menu-food-card-4th{
    position: absolute;
    top:214px;
    left: 763px;
}

.food-img-holder{
position: absolute;
top: 29px;
left: 0px;
width: 147px;
height: 163px;

background: #7BB7C9;
border-radius: 13px;

}
.food-title{
    position: absolute;
    left: 172px;
    top: 68px;

    width: auto;
    height: 36px;
    margin-top: 0px;
    margin-left: 0px;


font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
/* identical to box height */
text-align: left;

color: #53524F;

}
.food-line{
    position: absolute;
    top: 88.5px;
    height: 0px;

border: 1px solid #53524F;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.food-price{
    position: absolute;
    left: 613px;
    top: 77px;
    width: auto;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 106.17%;
/* or 19px */
text-align: center;

color: #53524F;

}

.food-description{
    position: absolute;
    left: 172px;
    top: 104px;

    margin-top: 0px;
    margin-left: 0px;

    width: 508px;
    height: 48px;


font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 24px;

color: #53524F;



}

.btn-food-sec{
    position: absolute;
    top: 161px;
    left: 171px;

    width: 360px;
    height: 31px;
}

.food-counter{


position: absolute;
width: 87px;
height: 31px;
top: 0px;
left: 133px;

background: #E9B034;
border-radius: 16px;



}
.food-mins{
position: absolute;
    left: 13px;
    top: 5px;
    margin-top: 0px;

    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 106.17%;
/* identical to box height, or 17px */
text-align: center;

color: #F1FFFB;
}
.food-number{
    position: absolute;
    left: 42px;
    top: 6.5px;
    margin-top: 0px;
    margin-left: 0px;

    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 106.17%;
/* identical to box height, or 17px */
text-align: center;

color: #F1FFFB;
}
.food-plus{
    position: absolute;
    left: 65px;
    top: 6px;
    margin-top: 0px;


font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 106.17%;
/* identical to box height, or 17px */
text-align: center;

color: #F1FFFB;


}

.food-addon-dev{
    position: absolute;
    left: 239px;
    top: 0px;

width: 121px;
height: 31px;


background: #E9B034;
border-radius: 16px;

}
.food-addon-label{
    /* Add Extras */

position: absolute;
width: 101px;
height: 38px;
left: 4px;
top: 4px;
margin-top: 0px;
margin-left: 0px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
text-align: center;

color: #FFFFFF;


}
.drop-btn-food{
    position: absolute;
    top: 13px;
    left: 99px;
    margin-top: 0%;
    margin-left: 0%;
    width: 10px;
    height: 5px;
}

#right-des{
    width: 260px;height: 45px; 
    margin-left: 24px;
}

#chocolate-pancakes-img{
    position: absolute;
    top: 14px;
    left: -18px;
    width: 175px;
    height: 135px;
}
#tarte-bourdaloue-img{
    position: absolute;
    top: 8px;
    left: -12px;
    width: 192px;
    height: 175px;
}
#waffle-strawberry-img{
    position: absolute;
    top: 5px;
    left: -28px;
    width: 208px;
    height: 158px;
}
#strawberry-cloud-img{
    position: absolute;
    top: -2px;
    left: -37px;
    width: 215px;
    height: 177px;
}
#Sparkling-strawberry-img{  
    position: absolute;
    top: -11px;
    left:17px;
    width: 130px;
    height: 174px;

}
#Passion-fruit-img{
    position: absolute;
    top: -33px;
    left: -4px;
    width: 153px;
    height: 202px;
}
#blue-mojito{
    position: absolute;
    top: -24px;
    left: 12px;
    width: 135px;
    height: 192px;

}
#cherry-mocktail-img{
    position: absolute;
    top:-28px;
    left: 0px;
    width: 140px;
    height: 211px;
}
#Halloumi-img{
    width: 184px;
    height: 193px;
}
#london-breakfast-img{
    width: 223px;
    height: 226px;
}
#Beirut-breakfast-img{
    width: 204px;
    height: 157px;
}
#Berlin-breakfast-img{
    width: 187px;
    height: 167px;
}

@media (max-width: 768px) {
    .cover-menu{
        height: 350px;
        width: 768px;
    }
    
    #menu-label-div-1{
    width: 721px;
    height: 153px;
    margin-top: 129px;
    }
    

    #cover-menu-food-img, #cover-menu-back-img{
        visibility: hidden;
    
    }

    #cover-menu-style{
    visibility: hidden;
    }






    .sec2-menu{
        height: 746px;
        position: relative;
        width: 768px;
    }
    .Rectangle-background-1{
        position: absolute;
        left: -200px;
        top: 267px;
        
    }
    .Rectangle-background-2{
        position: absolute;
        right: -200px;
        top: 528px;
        
    }
    
    #Specialties-style-title{
        position: absolute;
        top: 62px;
        left: 150px;
        width: 475px;
        height: 57px;
    }

    
    .Specialities-card{
    
        width: 235px;
        height: 392px;
    
    }
    #Specialities-card-left{
    position:absolute;
     left: 5px;    
     top: 201px;   
    }
    
    .Specialities-title{
    position: absolute;
    width: auto;
    height: 36px;
    
    margin-top: 30px;
    margin-left: 25px;
    
    }
    #mojito-img{
        margin-left: 50px;
        margin-top: 66px;
        
    }
    .Specialities-price{
    
    width: 88px;
    height: 21px;
    
    
    margin-left: 70px;
    margin-top: 300px;
    
    }
    
    .Specialities-description{
        
    position: absolute;
    
    margin-left: 10px;

    
    }
    .Specialities-counter{
    margin-top: 50px;
    margin-left: 70px;
    
    }

    #Add-cart-btn-left{
           margin-left: 55px;
        margin-top: 10px; 
    }
    #Add-cart-btn-center{
        margin-left: 55px;
        margin-top: 10px;  
    }
    #Add-cart-btn-right{
        margin-left: 55px;
        margin-top: 10px;   
    }
    

    #Specialities-card-center{
    position: absolute;
    
    width: 235px;
    height: 392px;


    left: 257.5px;    
    top:201px;   
    
    }
    #Specialities-img-center{
    
    width: 240px;
    height: 214px;
    
        margin-top: 87px;
        margin-left: -3px;
    }
    
    #Specialities-card-right{
        position: absolute;
    
        width: 235px;
        height: 392px;

    left: 510px;    
    top:201px;   
    
    
    }
    #Specialities-img-right{
        margin-left: 25px;
        margin-top: 79px;
        width: 202px;
        height: 222px;
    }

    #right-des{
        width: 230px;height: 26px; 
        margin-left: 7px;
    }
    

    






    .Full-menu{
        height: 980px;
        position: relative;
        width: 768px;
        }
        
        #Menu-style-title{
            position: absolute;
            top: 0px;
            margin-top: 0px;
            left: 225px;
            width: 338px;
            height: 94px;
        
        }

        #btn-sec-1st{
            left: 25px;
        }
        #btn-sec-2nd{
            left:203px ;
        }
        #btn-sec-3rd{
            left: 381px;
        }
        #btn-sec-4th{
            left: 559px;
        }
        






        .Breakfast-sec{
            height: 542px;
            position: absolute;
            top: 179px;
        }
        
        .menu-sec-title{
        
        position: absolute;
        width: 197px;
        height: 38px;
        margin-left: 0px;
        margin-top: 0px;
        left: 25px;
        top: 0px;
        
         
        }
        
        .menu-food-card{
        width: 706px;
        
        }
        #menu-food-card-1st{
        left: 40px ;
        top: 29px;
        }
        #menu-food-card-2nd{
            top:214px;
            left: 40px;
        }
        #menu-food-card-3rd{
            top: 405px;
            left: 40px;
        }
        #menu-food-card-4th{
            top:590px;
            left: 40px;
        }
        
        #chocolate-pancakes-img{
            position: absolute;
            top: 14px;
        }


}
@media (max-width: 431px) {
    .cover-menu{
        height: 200px;
        width: 431px;
    }
    .cover-menu-h1{
        font-family: 'Albert Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 100%;
        /* or 64px */
        
        color: #887c58;
        
        
        }
        #menu-h1-first-line{

            margin-top: 0px;
            margin-left: 20px;
            
        }
        #menu-h1-sec-line{
            margin-top: -30px;
            margin-left: 20px;
        }

        #cover-menu-h1-bold{
        margin-top: -30px;
        margin-left: 15px;
        font-weight: 700;
        }    
        #vector-break{

            margin-left: 20px;
            margin-top: 0px;

            width: 136px;
            height: 0px;

        border: 3px solid #E9B034;

            }
    
        #cover-menu-p{

            width: 350px;
            height: 58px;
            margin-left: 20px;
            margin-top: -80.5px;

            font-size: 14px;
 
            
            color: #53524F;
            
            }

    #cover-menu-food-img,#cover-menu-back-img,#cover-menu-style,
    .Rectangle-background-1,.Rectangle-background-2{
        visibility: hidden;
    
    }
    .sec2-menu{
        height: 600px;
        position: relative;
        width: 431px;
    }

    
    #Specialties-style-title{
        position: absolute;
        top: 62px;
        left: 90px;
        width: 475px;
        height: 57px;
    }

    .Specialities-title{
        position: absolute;
        width: auto;
        height: 36px;
        
        margin-top: 30px;
        margin-left: 25px;

        font-size: 14px;

        }
    
    .Specialities-card{
    
        width: 160px;
        height: 280px;
    
    }
    #Specialities-card-left{
    position:absolute;
     left: 30px;    
     top: 170px;   
    }
    
    #mojito-img{
        margin-left: 20px;
        margin-top: 50px;
        width: 125px;
        height: 160px;
        
    }
    .Specialities-price{
    
    width: 88px;
    height: 21px;
    
    
    margin-left: 50px;
    margin-top: 250px;


font-size: 14px;

    
    }
    
    .Specialities-description{
        
    position: absolute;
    width: 145px;
    margin-left: 8px;
    height: 40px;

    
    }
    .Specialities-counter{
    margin-top: 55px;
    margin-left: 37px;
    
    }

    #Add-cart-btn-left,#Add-cart-btn-center,#Add-cart-btn-right{
           margin-left: 22px;
        margin-top: 10px; 
        
    }
    

    #Specialities-card-center{
    position: absolute;
    
    width: 160px;
    height: 280px;


    left: 230px;    
    top: 170px;   
    
    }
    #Specialities-img-center{
    
    width: 155px;
    height: 165px;
    
        margin-top: 45px;
        margin-left: 2px;
    }
    
    #Specialities-card-right{
        visibility: hidden;
    
    
    }


    






    .Full-menu{
        height: 1030px;
        position: relative;
        width: 431px;
        }
        
        #Menu-style-title{
            position: absolute;
            top: 0px;
            margin-top: 0px;
            left: 150px;
            width: 338px;
            height: 94px;
        
        }

        #btn-sec-1st{
            left: 30px;
            top: 60px;
        }
        #btn-sec-2nd{
            left:215px;
            top: 60px;
        }
        #btn-sec-3rd{
            left: 30px;
            top: 120px;
        }
        #btn-sec-4th{
            left: 215px;
            top: 120px;
        }

        .sec-name{
        font-size: 18px;
        }

        
        .Breakfast-sec{
            height: 542px;
            position: absolute;
            top: 179px;
        }
        
        .menu-sec-title{
        

        left: 0px;

        font-size: 30px;
        
         
        }
        

        #menu-food-card-1st{
        left: 10px;
        top: 29px;
        }
        #menu-food-card-2nd{
            top: 235px;
            left: 10px;
        }
        #menu-food-card-3rd{
            top:440px;
            left: 10px;
        }
        #menu-food-card-4th{
            position: absolute;
            top:640px;
            left: 10px;
        }
        

        .food-title{
            top: 40px;
        font-size: 16px;
        }
        .food-line{
            visibility: hidden;
        }
        .food-price{
            left: 350px;
            top: 52px;
        font-size: 14px;        
        }
        
        .food-description{
   
            left: 172px;
            top: 70px;
            width: 235px;

        font-size: 11px;
        }
        
        .btn-food-sec{
            top: 150px;
            left: 165px;
        }
        
        
        .food-addon-dev{
            position: absolute;
            left: 0px;
            top: 40px;
        
        width: 121px;
        height: 31px;
        
        
        background: #E9B034;
        border-radius: 16px;
        
        }        
}