@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;700&display=swap');


#profile {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 669px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    padding: 20px;
    z-index: 1000;
}

#profileInfoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 41px;
    background-color: rgb(255, 255, 255);
}

#profileimg {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    height: 459px;
    height: 420px;
}

.change-btn {
    font-family: 'Poppins', sans-serif;
    
    border: 0;
    border-radius: 16.74px;
    padding: 6.7px 17.86px 6.7px 17.86px;
    color: rgba(241, 255, 251, 1);
    font-size: 13px;
    font-weight: 400;
    line-height: 16.5px;
    background-color: rgba(128, 182, 204, 1);
}

#photo-upload {
    display: none;
}

p {
    margin: 0;
}

#profileinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    height: 392px;
}

#profileinfo p {
    font-family: 'Albert Sans';
    color: #53524F;
    font-size: 24px;
    font-weight: 700;
    line-height: 27.8px;
    margin-right: auto;
    width: 168px;
    height: 0;
}

#profileinfo div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 8px;
}

#profileinfo div div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#profileinfo div div input {
    width: 208px;
    height: 49px;
    border-radius: 10px;
    border: 0;
    border: 1px solid rgba(83, 82, 79, 1);
    outline: none;
    color: #53524F;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;

}

#profileinfo div input {
    width: 440px;
    height: 49px;
    border-radius: 10px;
    border: 0;
    border: 1px solid rgba(83, 82, 79, 1);
    outline: none;
    padding-left: 10px;
    color: #53524F;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;

}

#profileinfo button {
    font-family: 'Poppins', sans-serif;
    width: 128px;
    border: 0;
    border-radius: 15px;
    padding: 8px 0px;
    color: rgba(241, 255, 251, 1);
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5pxpx;
    background-color: #E9B034;
    color: #FFFFFF;
    margin-top: 0;
}

button {
    cursor: pointer;
}

#profile #back-form {
    padding: 20px;
    width: 100%;
}

#back-form img {
    cursor: pointer;
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

#profiledropdowns {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

#profiledropdowns p{
    font-family: 'Albert Sans';
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    color: rgba(83, 82, 79, 1);
}

#profiledropdowns div{
    display: flex;
    align-items: center;
    gap: 20px;
}