@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

hr {
    margin: 0;
}

#landing {
    position: relative;
    background-color: rgba(255, 248, 244, 1);
}

#landing-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 136px;
    padding-top: 250px;
    padding-bottom: 110px;
}

button {
    font-family: 'Poppins', sans-serif;
    width: 133.95px;
    height: 40.19px;
    gap: 10px;
    border: 0;
    border-radius: 16.74px;
    padding: 6.7px 17.86px 6.7px 17.86px;
    color: rgba(241, 255, 251, 1);
    font-size: 14.51px;
    font-weight: 400;
    line-height: 21.77px;
    background-color: rgba(128, 182, 204, 1);
    cursor: pointer;
    transition: .5s linear;
}

#landing p {
    font-family: 'Poppins', sans-serif;
    color: rgba(92, 87, 87, 1);
    margin: 0;
}

#landing p:nth-child(1) {
    font-family: 'Albert Sans', sans-serif;
    font-size: 27.72px;
    font-weight: 400;
}

#landing p:nth-child(2) {
    font-family: 'Albert Sans', sans-serif;
    font-size: 73.92px;
    line-height: 57px;
    font-weight: 700;
}

#landing p:nth-child(5) {
    font-size: 22.54px;
    font-weight: 600;
}

#landing p:nth-child(3) {
    width: 420px;
}

#landing hr {
    border: 1.48px solid rgba(233, 176, 52, 1);
    width: 390px;
    margin: 0;
}

#landing p:nth-child(3),
#landing p:nth-child(6) {
    font-family: 'Poppins', sans-serif;

    font-size: 21.13px;
    font-weight: 300;
}


#Landing-Image {
    position: absolute;
    top: 110px;
    width: 830.01px;
    height: 740.51px;
    left: 704px;
}

#afterlanding-hr {
    height: 71px;
    background-color: rgba(233, 176, 52, 1);
}

#food {
    position: relative;
    margin-top: 205px;
    margin-left: 755px;
    margin-bottom: 185px;
}

#Food-Image {
    position: absolute;
    top: -386px;
    left: -1186px;
}

#food-text {
    display: flex;
    flex-direction: column;
    width: 600px;
    gap: 25px;
}

#food p:first-child {
    margin: 0;
    color: rgba(83, 82, 79, 1);
    width: 400px;
}


#food p span:nth-child(1),
#food p span:nth-child(4) {
    font-family: 'Albert Sans', sans-serif;
    font-size: 67.4px;
    font-weight: 400;
}

#food p span:nth-child(2),
#food p span:nth-child(3) {
    font-family: 'Albert Sans', sans-serif;
    font-size: 67.4px;
    font-weight: 700;
}

#food-text-hr {
    border: 1.48px solid rgba(233, 176, 52, 1);
    width: 390px;
    margin: 0;
}

#food-description {
    font-family: 'Poppins', sans-serif;
    font-size: 20.01px;
    font-weight: 300;
    line-height: 30px;
    width: 600px;
    color: rgba(92, 87, 87, 1);
    margin: 0;
    margin-bottom: 20px;
}

#Booking-Experience {
    background-color: rgba(255, 248, 244, 1);
    width: 100%;
    height: 816px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#Booking-Experience p {
    margin: 0;
}

#Booking-Experience p:nth-child(1) {
    font-family: 'Albert Sans', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: rgba(83, 82, 79, 1);
}

#booking-description {
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    font-weight: 300;
    text-align: center;
    color: rgba(92, 87, 87, 1);
    width: 60%;
}

.booking-images {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 47px;
}

.booking-image-container {
    position: relative;
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.event-label {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: white;
    position: absolute;
    top: 8px;
    left: 30px;
}


.booking-images button {
    position: absolute;
    bottom: 20px;
    left: 128px;
    background-color: rgba(233, 176, 52, 1);
}

#booking-table-button {
    cursor: pointer;
}

#leftbookingline {
    position: absolute;
    width: 217px;
    height: 35px;
    z-index: 100;
    background-color: rgba(233, 176, 52, 1);
    bottom: 20px;
    left: -131px;
}

#rightbookingline {
    position: absolute;
    width: 132px;
    height: 35px;
    z-index: 0;
    background-color: rgba(233, 176, 52, 1);
    top: 10px;
    right: -131px;
}

#booking-form {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 1000px;
    height: 569px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    padding: 20px;
    z-index: 10000;
}

#back-form {
    position: absolute;
    display: flex;
    width: 90%;
    top: 49px;
    left: 64px;
}

#back-form img {
    cursor: pointer;
}

#form-title {
    font-family: 'Albert Sans', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    margin: 0;
    margin-bottom: 36px;
    color: rgba(83, 82, 79, 1);
}

.booking-inputs {
    display: flex;
    justify-content: center;
    gap: 19px;
    margin-bottom: 13px;
}

.booking-inputs input {
    width: 254px;
    height: 49px;
    border-radius: 10px;
    border: 1px solid rgba(83, 82, 79, 1);
    padding-left: 15px;
    padding-right: 15px;
}

#booking-inputs3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 96px;
}

#booking-inputs3 p {
    font-family: 'Poppins', sans-serif;

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


#booking-counter {
    display: flex;
    align-items: center;
    width: 116px;
    height: 30px;
    border-radius: 14px;
    border: 1px solid rgba(83, 82, 79, 1);
    background-color: rgba(233, 176, 52, 0);
}

.bookingpm-button {
    padding: 6px 0px;
    font-size: 20px;
    border: none;
    color: rgba(83, 82, 79, 1);
    text-align: center;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
}

#bookingcounterValue {
    text-align: center;
    color: rgba(83, 82, 79, 1);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

#radio-sec-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 43px;
}

input[type="radio"] {
    appearance: none;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    border: 2px solid rgba(233, 176, 52, 1);
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    margin-right: 10px;
    vertical-align: middle;
    position: relative;
    top: -1px;
}

input[type="radio"]:checked {
    background-color: rgba(233, 176, 52, 1);
}

input[type="radio"]:not(:checked) {
    background-color: white;
}

label {
    font-family: 'Poppins', sans-serif;

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    vertical-align: middle;
    cursor: pointer;
}

#bookNow {
    width: 120px;
    height: 36px;
    top: 376px;
    left: 418px;
    padding: 6px 16px 6px 16px;
    gap: 10px;
    border-radius: 15px;
    background-color: rgba(233, 176, 52, 1);
    color: white;
}

#bookingform-info {
    display: flex;
    width: 61%;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    margin-left: 30px;
}

#bookingform-info span {
    font-family: 'Poppins', sans-serif;

    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: rgba(83, 82, 79, 1);
}

#quotesec {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 204px;
    position: relative;
    margin-bottom: 215px;
}

#quotesec p {
    width: 737px;
    text-align: center;
}

#quotesec p span {
    font-family: 'Albert Sans', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    color: rgba(233, 176, 52, 1);
}

#quotesec p span:nth-child(2) {
    font-weight: 400;
}

#quotesec img {
    position: absolute;
    z-index: 100;
}


#homedeco {
    background-color: rgba(255, 248, 244, 1);
    position: relative;
    height: 816px;
    display: flex;
    align-items: center;
}

#homedecotitle p {
    color: rgba(83, 82, 79, 1);
    margin: 0;
}

#homedecotitle {
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin-left: 67px;
}

#homedecotitle p:first-child {
    font-family: 'Albert Sans', sans-serif;
    font-size: 67px;
    font-weight: 700;
    width: 394px;
}

#homedeco-description {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 23.37px;
    width: 371px;
}

#homedeco-text-hr {
    border: 1.48px solid rgba(233, 176, 52, 1);
    width: 371px;
    margin: 0;
}

#leftdecoline {
    width: 539px;
    height: 35px;
    position: absolute;
    top: 586px;
    background-color: rgba(233, 176, 52, 1);
}

#rightdecoline {
    width: 88px;
    height: 35px;
    position: absolute;
    top: 310px;
    right: 0;
    background-color: rgba(233, 176, 52, 1);
}

#alldeco {
    display: flex;
    gap: 18px;
    position: absolute;
    left: 534px;
    top: 267px;
}

.deco-item {
    position: relative;
}

.deco-box {
    width: 290.28px;
    height: 371.77px;
    border-radius: 36.67px;
    background-color: rgba(123, 183, 201, 1);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#decobox-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 25px;
}


.deco-name {
    font-family: 'Poppins', sans-serif;
    font-size: 20.37px;
    font-weight: 700;
    line-height: 30.56px;
    text-align: center;
    margin: 0;
    color: white;
}

.deco-price {
    font-family: 'Poppins', sans-serif;
    font-size: 24.44px;
    font-weight: 400;
    line-height: 36.67px;
    text-align: center;
    color: white;
    margin: 0;
}

.deco-image {
    position: absolute;
    bottom: 87px;
    left: -38px;
    width: 360px;
    height: 384px;
}

.add-to-cart {
    position: absolute;
    bottom: -60px;
    left: 84px;
    width: 120px;
    height: 35px;
    padding: 6.11px 16.3px 6.11px 16.3px;
    gap: 10.19px;
    border-radius: 15.28px;
    border: 1.02px solid rgba(233, 176, 52, 1);
    color: rgba(233, 176, 52, 1);
    background-color: rgba(255, 255, 255, 0);
}

.add-to-cart:hover {
    background-color: rgba(233, 176, 52, 1);
    color: white;
}

#counter {
    position: absolute;
    left: 101px;
    bottom: -13px;
    display: flex;
    align-items: center;
    width: 88.61px;
    height: 31.57px;
    border-radius: 16.3px;
    font-family: 'Poppins', sans-serif;

    background-color: rgba(233, 176, 52, 1);
}

.decopm-button {
    padding: 7px 15px;
    font-size: 20px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: rgba(240, 248, 255, 0);
}

#counterValue {
    font-size: 16.3px;
    font-weight: 400;
    text-align: center;
    color: white;
}

#callingartist {
    display: flex;
    align-items: center;
    padding-top: 181px;
    gap: 113px;
    padding-bottom: 81px;
    padding-left: 115px;
    position: relative;
}

#callingartist div {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

#callingartist p {
    color: rgba(83, 82, 79, 1);
    margin: 0;
}

#callingartist-title {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

#callingartist p:first-child {
    font-family: 'Albert Sans', sans-serif;
    font-size: 67px;
    font-weight: 700;
    width: 394px;
}

#callingartist-description {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 23.37px;
    width: 530px;
}

#callingartist-text-hr {
    border: 1.48px solid rgba(233, 176, 52, 1);
    width: 371px;
    margin: 0;
}

#leftartistline {
    position: absolute;
    background-color: rgba(233, 176, 52, 1);
    top: 219px;
    width: 115px;
    height: 35px;
    left: 0;
}

#loyaltyClub {
    height: 595px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 23px;
    position: relative;
    margin-bottom: 82px;
}

#loyaltyClub>div {
    display: flex;
    gap: 17px;
}

#loyaltytext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 17px;
    max-width: 665px;
    min-width: 665px;
}

#loyaltyClub p {
    margin: 0;
}

#loyaltyTitle {
    font-family: 'Albert Sans', sans-serif;
    font-size: 64px;
    font-weight: 700;
    color: rgba(83, 82, 79, 1);
}

#loyaltydescription {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 29.76px;
    text-align: left;
    width: 467px;
    color: rgba(83, 82, 79, 1);
}


#loyaltyClub hr {
    width: 348px;
    height: 0px;
    border: 1px solid rgba(83, 82, 79, 1);
}

.loyaltybox {
    max-width: 665px;
    min-width: 665px;
    height: 209px;
    background-color: rgba(233, 176, 52, 1);
    border-radius: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 126px;
}

.loyaltyboxtitle {
    font-family: 'Poppins', sans-serif;
    font-size: 28.56px;
    font-weight: 700;
    width: 306px;
}

.loyaltyboxdescription {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.19px;
    text-align: left;
    width: 333px;
    color: rgba(83, 82, 79, 1);
}

.loyaltyboxitem {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: end;
}

.loyaltyboxitem img {
    position: absolute;
    top: -71px;
    right: -56px;
}

#cuployaty {
    top: -88px;
}

.loyaltyboxitem button {
    z-index: 10;
    width: 135px;
    height: 36px;
    padding: 6px 16px 6px 16px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(233, 176, 52, 1);
    margin-top: auto;
    margin-bottom: 32px;
    cursor: pointer;
}

#loyaltyvector {
    position: absolute;
    right: 0;
    top: 530px;
    z-index: 10;
}

#blogs {
    height: 816px;
    background-color: rgba(255, 248, 244, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 21px;
    position: relative;
}

#blogs p {
    margin: 0;
}

#blogs p span:nth-child(1) {
    font-family: 'Albert Sans', sans-serif;
    font-size: 64px;
    font-weight: 400;
    color: rgba(83, 82, 79, 1);
}

#blogs p span:nth-child(2) {
    font-family: 'Albert Sans', sans-serif;
    font-size: 64px;
    font-weight: 700;
    color: rgba(83, 82, 79, 1);
}

.blogs-images {
    display: flex;
    gap: 33px;
}

.blogs-right-images {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

#blogvector {
    position: absolute;
    left: 0;
    top: 677px;
}


@media (max-width: 768px) {
    #landing-text {
        display: flex;
        flex-direction: column;
        gap: 7px;
        padding-left: 58px;
        padding-top: 140px;
        padding-bottom: 18px;
    }

    #landing p:nth-child(1) {
        font-family: 'Albert Sans', sans-serif;
        font-size: 16.72px;
        font-weight: 400;
    }

    #landing p:nth-child(2) {
        font-family: 'Albert Sans', sans-serif;
        font-size: 37.92px;
        font-weight: 700;
        margin-top: -11px;
    }

    #landing p:nth-child(3) {
        width: 355px;
        font-family: 'Poppins', sans-serif;

        font-weight: 300;
    }

    #landing hr {
        border: 1.48px solid rgba(233, 176, 52, 1);
        width: 339px;
        margin: 0;
    }

    #landing p:nth-child(5) {
        font-size: 18.54px;
        font-weight: 600;
    }

    #landing p:nth-child(3),
    #landing p:nth-child(6) {
        font-family: 'Poppins', sans-serif;
        font-size: 16.13px;
        font-weight: 300;
    }

    button {
        font-family: 'Poppins', sans-serif;
        width: 107.95px !important;
        height: 30.19px !important;
        gap: 10px;
        border: 0;
        border-radius: 16.74px;
        padding: 3.7px 17.86px 6.7px 17.86px !important;
        color: rgba(241, 255, 251, 1);
        font-size: 14.51px;
        font-weight: 400;
        line-height: 21.77px;
        background-color: rgba(128, 182, 204, 1);
    }

    #Landing-Image {
        position: absolute;
        top: 118px;
        width: 410px;
        height: 348px;
        left: 378px;
    }

    #afterlanding-hr {
        height: 30px;
        background-color: rgba(233, 176, 52, 1);
    }

    #food {
        position: relative;
        margin-top: 57px;
        margin-left: 309px;
        margin-bottom: 60px;
    }

    #food-text {
        display: flex;
        flex-direction: column;
        width: 600px;
        gap: 9px;
    }

    #food p:first-child {
        margin: 0;
        color: rgba(83, 82, 79, 1);
        width: 292px;
    }

    #food p span:nth-child(1),
    #food p span:nth-child(4) {
        font-family: 'Albert Sans', sans-serif;
        font-size: 42.4px;
        font-weight: 400;
    }

    #food p span:nth-child(2),
    #food p span:nth-child(3) {
        font-family: 'Albert Sans', sans-serif;
        font-size: 42.4px;
        font-weight: 700;
    }

    #food-description {
        font-family: 'Poppins', sans-serif;
        font-size: 13.01px;
        font-weight: 300;
        line-height: 20px;
        width: 431px;
        color: rgba(92, 87, 87, 1);
        margin: 0;
        margin-bottom: 0px;
    }

    #Food-Image {
        position: absolute;
        top: -121px;
        left: -466px;
        width: 393px;
    }

    #Booking-Experience {
        background-color: rgba(255, 248, 244, 1);
        width: 100%;
        height: 490px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    #Booking-Experience p:nth-child(1) {
        font-family: 'Albert Sans', sans-serif;
        font-size: 35px;
        font-weight: 700;
        color: rgba(83, 82, 79, 1);
        margin-bottom: -10px;
    }

    #booking-description {
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        color: rgba(92, 87, 87, 1);
        width: 85%;
    }

    .booking-images {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 22px;
    }

    .booking-image-container img {
        width: 227px;
        height: 268px;
    }

    #booking-form {
        display: none;
        justify-content: center;
        align-items: center;
        gap: 0;
        width: 609px;
        height: 447px;
        position: fixed;
        top: 25%;
        left: 42%;
        transform: translate(-50%, -50%);
        background-color: rgb(255, 255, 255);
        padding: 20px;
        z-index: 10000;
    }

    #bookingform-info {
        display: flex;
        width: 94%;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;
        margin-left: 30px;
    }

    .icon img {
        width: 12px;
        margin-top: 3px;
    }

    #back-form {
        position: absolute;
        display: flex;
        width: 90%;
        top: 23px!important;
        left: 34px!important;
    }

    .booking-inputs input {
        width: 254px;
        height: 45px;
        border-radius: 10px;
        border: 1px solid rgba(83, 82, 79, 1);
        padding-left: 15px;
        padding-right: 15px;
    }

    #bookNow {
        margin-top: 10px;
    }

    .event-label {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: white;
        position: absolute;
        top: 8px;
        left: 14px;
    }

    .booking-images button {
        position: absolute;
        bottom: 14px;
        left: 60px;
        background-color: rgba(233, 176, 52, 1);
    }

    #leftbookingline {
        position: absolute;
        width: 168px;
        height: 25px;
        z-index: 100;
        background-color: rgba(233, 176, 52, 1);
        bottom: 20px;
        left: -131px;
    }

    #rightbookingline {
        position: absolute;
        width: 132px;
        height: 25px;
        z-index: 0;
        background-color: rgba(233, 176, 52, 1);
        top: 10px;
        right: -131px;
    }

    #quotesec {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 133px;
        position: relative;
        margin-bottom: 112px;
    }

    #quotesec p {
        width: 640px !important;
    }

    #quotesec p span {
        font-family: 'Albert Sans', sans-serif;
        font-size: 22px;
        font-weight: 700;
        line-height: 36px;
        text-align: center;
        color: rgba(233, 176, 52, 1);
    }

    #quotesec img {
        position: absolute;
        z-index: 100;
        width: 720px;
    }

    #homedeco {
        align-items: normal;
        justify-content: center;
        text-align: center;
        padding-top: 17px;
        height: 523px;
    }

    #homedecotitle {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 9px;
        margin-left: 0;
    }

    #homedecotitle p:first-child {
        font-family: 'Albert Sans', sans-serif;
        font-size: 35px;
        font-weight: 700;
        width: 332px;
    }

    #homedeco-text-hr {
        border: 1.48px solid rgba(233, 176, 52, 1);
        width: 240px;
        margin: 0;
    }

    #homedeco-description {
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 21.37px;
        width: 456px;
    }

    #alldeco {
        display: flex;
        gap: 19px;
        left: 111px;
        top: 236px;
    }

    .deco-box {
        width: 172.28px;
        height: 207.77px;
        border-radius: 36.67px;
        background-color: rgba(123, 183, 201, 1);
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .deco-image {
        position: absolute;
        bottom: 75px;
        left: -14px;
        width: 196px;
        height: 210px;
    }

    .add-to-cart {
        position: absolute;
        bottom: -60px;
        left: 24px;
        width: 120px;
        height: 35px;
        padding: 6.11px 16.3px 6.11px 16.3px;
        gap: 10.19px;
        border-radius: 15.28px;
        border: 1.02px solid rgba(233, 176, 52, 1);
        color: rgba(233, 176, 52, 1);
        background-color: rgba(255, 255, 255, 0);
    }

    #counter {
        position: absolute;
        left: 43px;
        bottom: -13px;
        display: flex;
        align-items: center;
        width: 88.61px;
        height: 31.57px;
        border-radius: 16.3px;
        background-color: rgba(233, 176, 52, 1);
    }

    .deco-name {
        font-family: 'Poppins', sans-serif;
        font-size: 18.37px;
        font-weight: 700;
        line-height: 30.56px;
        text-align: center;
        margin: 0;
        color: white;
    }

    .deco-price {
        font-family: 'Poppins', sans-serif;
        font-size: 24.44px;
        font-weight: 400;
        line-height: 29.67px;
        text-align: center;
        color: white;
        margin: 0;
    }

    #leftdecoline {
        width: 539px;
        height: 34px;
        position: absolute;
        top: 377px;
        background-color: rgba(233, 176, 52, 1);
    }

    #rightdecoline {
        width: 115px;
        height: 35px;
        position: absolute;
        top: 310px;
        right: 0;
        background-color: rgba(233, 176, 52, 1);
    }

    #callingartist {
        display: flex;
        align-items: center;
        padding-top: 83px;
        gap: 47px;
        padding-bottom: 78px;
        padding-left: 31px;
        position: relative;
    }

    #loyaltyClub {
        height: 251px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        gap: 10px;
        position: relative;
        margin-bottom: 82px;
        width: 100%;
    }

    #loyaltytext {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 18px;
        max-width: 442px;
        min-width: 345px;
    }

    #loyaltyTitle {
        font-family: 'Albert Sans', sans-serif;
        font-size: 26px;
        font-weight: 700;
        color: rgba(83, 82, 79, 1);
        text-align: left;
    }

    #loyaltyClub hr {
        width: 148px;
        height: 0px;
        border: 1px solid rgba(83, 82, 79, 1);
    }

    #loyaltydescription {
        font-family: 'Poppins', sans-serif;
        font-size: 11px;
        font-weight: 400;
        line-height: 29.76px;
        text-align: left;
        width: 352px;
        color: rgba(83, 82, 79, 1);
    }

    .loyaltybox {
        max-width: 442px;
        min-width: 345px;
        height: 105px;
        background-color: rgba(233, 176, 52, 1);
        border-radius: 29px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 0px;
        z-index: 10000;
        padding: 10px;
    }

    .loyaltyboxtitle {
        font-family: 'Poppins', sans-serif;
        font-size: 14.56px;
        font-weight: 700;
        width: 253px;
        margin-bottom: 10px !important;
    }

    .loyaltyboxdescription {
        font-family: 'Poppins', sans-serif;
        font-size: 11px;
        font-weight: 400;
        line-height: 14.19px;
        text-align: left;
        width: 235px;
        color: rgba(83, 82, 79, 1);
    }

    .loyaltyboxitem {
        position: relative;
        height: 100%;
        display: block;
        width: 80%;
    }

    .loyaltyboxitem img {
        height: 126px;
        width: 131px;
        position: absolute;
        top: -48px;
        right: -19px;
    }

    #cuployaty {
        top: -41px;
        height: 112px;
        width: 116px;
        right: -11px;
    }

    .loyaltyboxitem button {
        width: 91px;
        height: 24px;
        padding: 0px 16px 6px 16px;
        border-radius: 15px;
        background-color: rgba(255, 255, 255, 1);
        color: rgba(233, 176, 52, 1);
        margin-top: 72px;
        cursor: pointer;
        font-size: 11px;
    }

    #callingartist img {
        width: 350px;
        height: 210px;
    }

    #callingartist div {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    #callingartist p:first-child {
        font-family: 'Albert Sans', sans-serif;
        font-size: 38px;
        font-weight: 700;
        width: 394px;
    }

    #callingartist-description {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 18.37px;
        width: 361px;
    }

    #leftartistline {
        position: absolute;
        background-color: rgba(233, 176, 52, 1);
        top: 95px;
        width: 115px;
        height: 25px;
        left: -41px;
    }

    #loyaltyvector {
        position: absolute;
        right: 0;
        top: 347px;
        width: 100px;
        z-index: 100;
    }

    #blogs {
        height: 556px;
        background-color: rgba(255, 248, 244, 1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 19px;
        position: relative;
    }

    #blogs p span:nth-child(1) {
        font-size: 50px;
        font-weight: 400;
        color: rgba(83, 82, 79, 1);
    }

    #blogs p span:nth-child(2) {
        font-size: 50px;
        font-weight: 700;
        color: rgba(83, 82, 79, 1);
    }

    .blogs-images {
        display: flex;
        gap: 12px;
    }

    #bigblogvid {
        width: 450px;
    }

    .blogs-right-images {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .blogvid {
        width: 129px;
    }

    #blogvector {
        position: absolute;
        left: 0;
        top: 479px;
        width: 100px;
    }
}


@media (max-width: 431px) {
    #landing-text {
        display: flex;
        flex-direction: column;
        gap: 2px;
        padding-left: 18px;
        padding-top: 78px;
        padding-bottom: 10px;
    }

    #landing p:nth-child(1) {
        font-family: 'Albert Sans', sans-serif;
        font-size: 10.72px;
        font-weight: 400;
    }

    #landing p:nth-child(2) {
        font-family: 'Albert Sans', sans-serif;
        font-size: 23.92px;
        font-weight: 700;
        line-height: 25px;
        margin-top: 0px;
    }

    #landing p:nth-child(3) {
        width: 157px;
    }

    #landing p:nth-child(3),
    #landing p:nth-child(6) {
        font-family: 'Poppins', sans-serif;

        font-size: 8.13px;
        font-weight: 300;
    }

    #landing hr {
        border: 1.48px solid rgba(233, 176, 52, 1);
        width: 170px;
        margin: 0;
    }

    #landing p:nth-child(5) {
        font-size: 11.54px;
        font-weight: 600;
    }

    button {
        font-family: 'Poppins', sans-serif;
        width: 90.95px !important;
        height: 25.19px !important;
        gap: 10px;
        border: 0;
        border-radius: 16.74px;
        padding: 1.7px 17.86px 6.7px 17.86px !important;
        color: rgba(241, 255, 251, 1);
        font-size: 10.51px !important;
        font-weight: 400;
        line-height: 21.77px;
        background-color: rgba(128, 182, 204, 1);
    }

    #Landing-Image {
        position: absolute;
        top: 56px;
        width: 246px;
        height: 198px;
        left: 185px;
    }

    #afterlanding-hr {
        height: 27px;
        background-color: rgba(233, 176, 52, 1);
    }

    #food {
        position: relative;
        margin-top: 39px;
        margin-left: 209px;
        margin-bottom: 39px;
    }

    #food-text {
        display: flex;
        flex-direction: column;
        width: 600px;
        gap: 3px;
    }

    #food p span:nth-child(1),
    #food p span:nth-child(4) {
        font-family: 'Albert Sans', sans-serif;
        font-size: 22.4px;
        font-weight: 400;
    }

    #food p span:nth-child(2),
    #food p span:nth-child(3) {
        font-family: 'Albert Sans', sans-serif;
        font-size: 22.4px;
        font-weight: 700;
    }

    #food p:first-child {
        margin: 0;
        color: rgba(83, 82, 79, 1);
        width: 148px;
    }

    #food-description {
        font-family: 'Poppins', sans-serif;
        font-size: 7.01px;
        font-weight: 300;
        line-height: 11px;
        width: 178px;
        color: rgba(92, 87, 87, 1);
        margin: 0;
        margin-bottom: 0px;
    }

    #food-text-hr {
        border: 1.48px solid rgba(233, 176, 52, 1);
        width: 180px;
        margin: 0;
    }

    #Food-Image {
        position: absolute;
        top: -82px;
        left: -319px;
        width: 266px;
    }

    #Booking-Experience p:nth-child(1) {
        font-family: 'Albert Sans', sans-serif;
        font-size: 16px;
        font-weight: 700;
        color: rgba(83, 82, 79, 1);
        margin-bottom: -10px;
    }

    #booking-description {
        font-family: 'Poppins', sans-serif;
        font-size: 8px;
        font-weight: 400;
        text-align: center;
        color: rgba(92, 87, 87, 1);
        width: 91%;
    }

    .booking-image-container img {
        width: 113px;
        height: 153px;
    }

    .event-label {
        font-family: 'Poppins', sans-serif;
        font-size: 10px;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: white;
        position: absolute;
        top: 8px;
        left: 8px;
    }

    .booking-images button {
        position: absolute;
        bottom: 14px;
        left: 13px;
        background-color: rgba(233, 176, 52, 1);
    }

    #leftbookingline {
        position: absolute;
        width: 168px;
        height: 15px;
        z-index: 100;
        background-color: rgba(233, 176, 52, 1);
        bottom: 20px;
        left: -153px;
    }

    #rightbookingline {
        position: absolute;
        width: 132px;
        height: 15px;
        z-index: 0;
        background-color: rgba(233, 176, 52, 1);
        top: 10px;
        right: -131px;
    }

    #Booking-Experience {
        background-color: rgba(255, 248, 244, 1);
        width: 100%;
        height: 267px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 17px;
    }

    #booking-form {
        display: none;
        justify-content: center;
        align-items: center;
        gap: 0;
        width: 358px;
        height: 360px;
        position: fixed;
        top: 23%;
        left: 24%;
        transform: translate(-50%, -50%);
        background-color: rgb(255, 255, 255);
        padding: 20px;
        z-index: 10000;
    }

    #form-title {
        font-family: 'Albert Sans', sans-serif;
        font-size: 33px;
        font-weight: 700;
        line-height: 57.6px;
        margin: 0;
        margin-bottom: 36px;
        color: rgba(83, 82, 79, 1);
    }

    #profile {
        display: none;
        justify-content: center;
        align-items: center;
        gap: 41px;
        width: 350px;
        height: 388px;
        position: fixed;
        top: 318px!important;
        left: 24%!important;
        transform: translate(-50%, -50%);
        background-color: rgb(255, 255, 255);
        padding: 20px;
        z-index: 10000;
    }

    #booking-inputs3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 9px;
    }
    
    label {
        font-family: 'Poppins', sans-serif;
        font-size: 11px;
        font-weight: 400;
        line-height: 24px;
        vertical-align: middle;
        cursor: pointer;
    }

    input[type="radio"] {
        appearance: none;
        width: 13px;
        height: 14px;
        border-radius: 50%;
        border: 2px solid rgba(233, 176, 52, 1);
        outline: none;
        cursor: pointer;
        transition: background-color 0.3s, border-color 0.3s;
        margin-right: 1px;
        vertical-align: middle;
        position: relative;
        top: -3px;
    }

    #radio-sec-form {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
    }

    #booking-inputs3 p {
        font-family: 'Poppins', sans-serif;
        font-size: 11px;
        font-weight: 400;
        line-height: 24px;
    }

    #booking-counter {
        display: flex;
        align-items: center;
        width: 84px;
        height: 22px;
        border-radius: 14px;
        border: 1px solid rgba(83, 82, 79, 1);
        background-color: rgba(233, 176, 52, 0);
    }

    #bookingcounterValue {
        text-align: center;
        color: rgba(83, 82, 79, 1);
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
    }

    #bookingform-info span {
        font-family: 'Poppins', sans-serif;
        font-size: 11px;
        font-weight: 300;
        line-height: 24px;
        color: rgba(83, 82, 79, 1);
    }

    #bookingform-info {
        display: flex;
        width: 106%;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;
        margin-left: 5px;
    }

    .booking-inputs input {
        width: 140px;
        height: 30px;
        border-radius: 10px;
        border: 1px solid rgba(83, 82, 79, 1);
        padding-left: 15px;
        padding-right: 15px;
    }

    #quotesec {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 69px;
        position: relative;
        margin-bottom: 65px;
    }

    #quotesec p {
        width: 300px;
        text-align: center;
    }

    #quotesec p span {
        font-family: 'Albert Sans', sans-serif;
        font-size: 13px;
        font-weight: 700;
        line-height: 15px;
        text-align: center;
        color: rgba(233, 176, 52, 1);
    }

    #quotesec img {
        position: absolute;
        z-index: 100;
        width: 406px;
    }

    #homedeco {
        align-items: normal;
        justify-content: center;
        text-align: center;
        padding-top: 24px;
        height: 332px;
    }

    #homedecotitle p:first-child {
        font-family: 'Albert Sans', sans-serif;
        font-size: 16px;
        font-weight: 700;
        width: 283px;
    }

    #homedeco-text-hr {
        border: 1.48px solid rgba(233, 176, 52, 1);
        width: 159px;
        margin: 0;
    }

    #homedeco-description {
        font-family: 'Poppins', sans-serif;
        font-size: 8px;
        font-weight: 400;
        line-height: 8.37px;
        width: 329px;
    }

    #leftdecoline {
        width: 539px;
        height: 25px;
        position: absolute;
        top: 238px;
        background-color: rgba(233, 176, 52, 1);
    }

    #rightdecoline {
        width: 115px;
        height: 24px;
        position: absolute;
        top: 159px;
        right: 0;
        background-color: rgba(233, 176, 52, 1);
    }

    #alldeco {
        display: flex;
        gap: 10px;
        left: 23px;
        top: 137px;
    }

    .deco-box {
        width: 116.28px;
        height: 145.77px;
        border-radius: 26.67px;
        background-color: rgba(123, 183, 201, 1);
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .deco-image {
        position: absolute;
        bottom: 43px;
        left: -4px;
        width: 126px;
        height: 140px;
    }

    .deco-name {
        font-family: 'Poppins', sans-serif;
        font-size: 9.37px;
        font-weight: 700;
        line-height: 28.56px;
        text-align: center;
        margin: 0;
        color: white;
    }

    .deco-price {
        font-family: 'Poppins', sans-serif;
        font-size: 11.44px;
        font-weight: 400;
        line-height: 0.67px;
        text-align: center;
        color: white;
        margin: 0;
    }

    #counter {
        position: absolute;
        left: 15px;
        bottom: -8px;
        display: flex;
        align-items: center;
        width: 82.61px;
        height: 20.57px;
        border-radius: 16.3px;
        background-color: rgba(233, 176, 52, 1);
    }

    .decopm-button {
        padding: 0;
        font-size: 11px;
        border: none;
        color: white;
        cursor: pointer;
        background-color: rgba(240, 248, 255, 0);
    }

    #counterValue {
        font-size: 13.3px;
        font-weight: 400;
        text-align: center;
        color: white;
    }

    .add-to-cart {
        position: absolute;
        bottom: -45px;
        left: 9px;
        width: 95px;
        height: 27px;
        padding: 6.11px 16.3px 6.11px 16.3px;
        gap: 10.19px;
        border-radius: 15.28px;
        font-size: 9px !important;
        border: 1.02px solid rgba(233, 176, 52, 1);
        color: rgba(233, 176, 52, 1);
        background-color: rgba(255, 255, 255, 0);
    }

    #callingartist {
        display: flex;
        align-items: center;
        padding-top: 24px;
        gap: 21px;
        padding-bottom: 24px;
        padding-left: 11px;
        position: relative;
    }

    #callingartist img {
        width: 170px;
        height: 130px;
    }

    #callingartist div {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    #callingartist p:first-child {
        font-family: 'Albert Sans', sans-serif;
        font-size: 17px;
        font-weight: 700;
        width: 394px;
    }

    #callingartist-description {
        font-family: 'Poppins', sans-serif;
        font-size: 8px;
        font-weight: 300;
        line-height: 9.37px;
        width: 212px;
    }

    #callingartist-text-hr {
        border: 1.48px solid rgba(233, 176, 52, 1);
        width: 203px;
        margin: 0;
    }

    #leftartistline {
        position: absolute;
        background-color: rgba(233, 176, 52, 1);
        top: 36px;
        width: 115px;
        height: 15px;
        left: -72px;
    }

    #loyaltyClub {
        height: 412px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        gap: 10px;
        position: relative;
        margin-bottom: 42px;
        width: 100%;
    }

    #loyaltyClub>div {
        display: flex;
        flex-direction: column;
        gap: 17px;
    }

    .loyaltybox {
        max-width: 356px;
        min-width: 197px;
        height: 86px;
        background-color: rgba(233, 176, 52, 1);
        border-radius: 29px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 0px;
        z-index: 10000;
        padding: 11px;
    }

    #loyaltytext {
        max-width: 350px;
        min-width: 180px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 6px;
        text-align: center;
        align-items: center;
    }

    #loyaltyTitle {
        font-family: 'Albert Sans', sans-serif;
        font-size: 17px;
        font-weight: 700;
        color: rgba(83, 82, 79, 1);
        text-align: left;
    }

    #loyaltydescription {
        font-family: 'Poppins', sans-serif;
        font-size: 8px;
        font-weight: 400;
        line-height: 11.76px;
        text-align: center;
        width: 291px;
        color: rgba(83, 82, 79, 1);
    }

    .loyaltyboxitem img {
        height: 126px;
        width: 131px;
        position: absolute;
        top: -51px;
        right: -19px;
    }

    #cuployaty {
        top: -43px;
        height: 112px;
        width: 116px;
        right: -11px;
    }

    .loyaltyboxitem button {
        width: 91px;
        height: 20px;
        padding: 1px 16px 7px 16px;
        border-radius: 15px;
        background-color: rgba(255, 255, 255, 1);
        color: rgba(233, 176, 52, 1);
        margin-top: 59px;
        cursor: pointer;
        font-size: 11px;
    }

    #cuployaty {
        top: -45px;
        height: 105px;
        width: 112px;
        right: -11px;
    }

    #loyaltyvector {
        position: absolute;
        right: 0;
        top: 208px;
        width: 46px;
        z-index: 100;
    }

    #blogs p span:nth-child(1) {
        font-size: 16px;
        font-weight: 400;
        color: rgba(83, 82, 79, 1);
    }

    #blogs p span:nth-child(2) {
        font-size: 16px;
        font-weight: 700;
        color: rgba(83, 82, 79, 1);
    }

    #bigblogvid {
        width: 200px;
    }

    .blogvid {
        width: 58px;
    }

    .blogs-right-images {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    .blogs-images {
        display: flex;
        gap: 7px;
    }

    #blogs {
        height: 256px;
        background-color: rgba(255, 248, 244, 1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
        position: relative;
    }

    #blogvector {
        position: absolute;
        left: 0;
        top: 220px;
        width: 50px;
    }
}







@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


.testimonials-section{
    height: 713px;
    position: relative;
}
.testimonials-h1{
position: absolute;
width: 52px;
height: 42px;
left: 510px;

margin-top: 132px;

font-family: 'Albert Sans';
font-style: normal;
font-weight: 700;
font-size: 130px;
line-height: 50px;
/* or 38% */
text-align: center;

color: #53524F;

}
.testimonials-h2{
position: absolute;
width: 386px;
height: 125px;
left: 590px;

margin-top: 99px;

font-family: 'Albert Sans';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 109.75%;
/* or 70px */

color: #53524F;



}
.testimonial-cards{
    background: #7BB7C9;
    border-radius: 20px;
    align-items: center;
    position: absolute;

    width: 396px;
height: 293px;
    
}
#testimonial-card-center {

background: #E9B034;

    left: 566px;
    margin-top: 205px;
}
#testimonial-card-right {
left: 994px;
margin-top: 261px;
}
#testimonial-card-left{
left: 135px;
margin-top: 261px;
}

/* Star rating section */
.testimonial-stars {
    width: 105px;
    height: 21px;
    text-align: left;
    align-items: left;
    color: #FFFFFF;
    border: 1px #FFFFFF;
    border-radius: 1px;
    margin-top: 31px;
    margin-left: 31px;
    font-size: 21px;
}

/* Testimonial text styling */
#testimonial-feedtext{
align-content: center;
width: 320px;
height: 114px;
margin-left: 31px;
margin-top: 5px;

font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;

color: #53524F;



}

/* User information section */
.testimonial-user-info {
display: flex;

width: 358px;
height: 56px;
margin-left:25px;
margin-bottom: 30px;

background: linear-gradient(90deg, rgba(217, 217, 217, 0.17) 0%, rgba(115, 115, 115, 0) 100%);
border-radius: 31px;


}

.testimonial-user-info img {
width: 57.44px;
height: 57.44px;
border-radius: 31px;
}
#testimonial-name{

width: 158px;
height: 17px;
margin-left: 4.5px;
margin-top: 15px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 149.28%;
/* or 18px */

color: #53524F;



}

#testimonial-likes{

position: absolute;
width: 80px;
height: 19px;
margin-left: 63px;
margin-top: 30px;

font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 8px;
line-height: 149.28%;
/* or 12px */

color: #53524F;

}

/* Carousel Controls */
.testimonial-carousel-controls {
    display: flex;
    position: absolute;
    width: 119px;
    height: 44px;
    margin-top: 541px;
}
.testimonial-prev{
    position: absolute;
margin-left: 703px;
width: 44px;
height: 44px;
border-radius: 100%;

background: #3687A7;

}
.testimonial-next{
    position: absolute;
    margin-left: 778px;
width: 44px;
height: 44px;
border-radius: 100%;

background: #3687A7;
}


/* Responsive for iPad (768px) */
@media (max-width: 768px) {

.testimonials-section{
    width: 768px;
    position: relative;
}
    /* Star rating section */
.testimonial-stars {

    text-align: left;
    align-items: left;

    padding-top: 20px;
    
    margin-left: 31px;
}

/* Testimonial text styling */
#testimonial-feedtext{
align-content: center;

margin-left: 31px;
margin-top: 0px;

}

    .testimonials-h1 {
        top: -1%;
        left: 28%;
        transform: translateX(-50%);
        font-size: 80px;
        line-height: 45px;
    }

    .testimonials-h2 {
        top: 0%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 48px;
        width: auto;
        text-align: center;
    }

    .testimonial-cards {
        width: 50%;
        height: 280px;
    }

    #testimonial-card-left {
        position: absolute;
        top: -40px;
        left: -170px;
    }
    #testimonial-card-center{
        position: absolute;
        top: -30px;
        

        left: 180px;

    }
    #testimonial-card-right {
        position: absolute;
        top: -40px;
        left: 510px;
    }
    

    .testimonial-carousel-controls {
        top: 500px;
        margin: 0;
        width: fit-content;
    }

    .testimonial-prev{
        position: absolute;
        margin-left: 300px;
        bottom: 0%;
    }
    
    .testimonial-next {
        position: absolute;
        margin-left: 400px;
        bottom: 0%;
    }
}

/* Responsive for mobile (450px) */
@media (max-width: 430px) {
    .testimonials-section{
        width: 430px;
    }

    .testimonials-h1 {
        font-size: 60px;
        left: 23%;
        top: -3%;
        line-height: 40px;
    }

    .testimonials-h2 {
        font-size: 32px;
    }

    .testimonial-cards {
        width: 360px;
        height: 250px;
    }

    #testimonial-card-left{
    
        top: 185px;
        position: absolute;

        height: 270px;
        left: -290px;

    }
    #testimonial-card-center{
    
        top: 150px;
        position: absolute;

        height: 270px;
        left: 40px;

    }
    #testimonial-card-right{
    
        top: 185px;
        position: absolute;

        height: 270px;
        right: -290px;

    }

    #testimonial-feedtext {
        font-size: 16px;
    }

    .testimonial-carousel-controls {
        top: 500px;

        margin: 0;
        width: fit-content;
    }

    .testimonial-prev{
        position: absolute;
        margin-left: 130px;

    }
    
    .testimonial-next {
        position: absolute;
        margin-left: 230px;

    }
    
}
